@charset "utf-8";
/* CSS Document */
*{
	box-sizing: border-box;
}
body,html{
	width:100%;
	height:100%;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html{
	font-size:20px;
}
/*one page*/

.onepage{
	width:100%;
	height:100%;
	position:relative;
}
.onepage .header{
	width:100%;
	height:70px;
	padding:10px 20px;
	position: relative;
	overflow:hidden;
	background:#1b1920;
}
.onepage .logo{
	width:50px;
	height:50px;
	float:left;
}
.onepage .name{
	width:200px;
	height:40px;
	float:left;
	color:#9e9d9d;
	font-size:30px;
	margin-left:10px;
	text-align: center;
	margin-top:10px;
}
/* @media (min-width: 480px) {
    .onepage .name{
    	font-size:12px;
    }
} */
.header .goPro_o{
	float:right;
	height:50px;
	line-height: 50px;
	margin-top:6px;
}
.header .goPro{
	width:80px;
	height:30px;
	line-height:30px;
	font-size: 20px;
	color:#fff;
	background:#f14c4e;
	border-radius: 4px;
	text-align: center;
	margin:0 10px;
	margin-top:10px;
	display: inline-block;
}
/* .header .inp_none:active .dis_none{
	content:" ";
	width:200px;
	opacity: 1;
} */
.onepage .square{
	width:100%;
	text-align: center;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
    color: #555555;
    -webkit-font-smoothing: antialiased;
	background:radial-gradient(ellipse 69% 50%, #2d2d39 15%,#1b1920 70%);
}
.square .con{
	padding: 90px 0 0 0;
    text-align: center;
}
@media only screen and (max-width: 767px){
	.square .con{
	    padding-top: 20px;
	}
}

@media only screen and (max-width: 1024px){
	.square .con{
	    padding: 40px 0 0 0;
	}
}

.square .con_in{
    max-width: 1100px;
    padding: 0 50px;
    margin: 0 auto 75px auto;
}
@media only screen and (max-width: 767px){
	.square .con_in{
	    margin-bottom: 15px;
	    padding:0 20px;
	}
}
@media only screen and (max-width: 991px){
	.square .con_in{
	    margin-bottom: 30px;
	}
}

@media only screen and (max-width: 1024px){
	.square .con_in{
	    margin-bottom: 35px;
	}
}

.square .title_con{
	font-weight: 700;
    font-size: 70px;
    color: #f3f1ec;
    letter-spacing: 1.86px;
    line-height: 76px;
    margin-bottom: 0;
}
@media only screen and (max-width: 767px){
	.square .title_con{
	    font-size: 20px !important;
	    letter-spacing: 0.3px !important;
	    line-height: 28px !important;
	}
}

@media only screen and (max-width: 991px){
	.square .title_con{
	    font-size: 42px !important;
	    letter-spacing: 1.2px !important;
	    line-height: 48px !important;
	}
}

@media only screen and (max-width: 1024px){
	.square .title_con{
	    font-size: 56px;
	    letter-spacing: 1.6px;
	    line-height: 60px;
	}
}
.square .title_con_Sec{
	font-weight: 300;
    font-size: 36px;
    color: #f4f2ec;
    letter-spacing: 0.96px;
    line-height: 36px;
    margin-top: 25px;
}
@media only screen and (max-width: 767px){
	.square .title_con_Sec{
	    font-size: 16px !important;
	    letter-spacing: 0.3px !important;
	    line-height: 18px !important;
	    margin-top: 10px !important;
	}
}

@media only screen and (max-width: 991px){
	.square .title_con_Sec{
	    font-size: 24px !important;
	    letter-spacing: 0.5px !important;
	    line-height: 26px !important;
	    margin-top: 20px !important;
	}
}

@media only screen and (max-width: 1024px){
	.square .title_con_Sec{
	    font-size: 28px;
	    letter-spacing: 0.7px;
	    line-height: 30px;
	    margin-top: 20px;
	}
}
.square .red_box_prc{
	text-align: center;
    margin-bottom: 35px;
}
.square .red_box_prc .afor_red_box_square{
	font-size: 24px;
    line-height: 24px;
    padding: 18px 40px 14px 40px;
    font-weight: 700;
    -webkit-transition: 150ms;
    transition: 150ms;
    display: inline-block;
    background: #ef494f;
    color: white;
    border-style: solid;
    border-width: 0 0 4px 0;
    border-color: #a73337;
    border-radius: 3px;
    text-decoration: none;
    box-shadow: none;
}
.square .red_box_prc .afor_red_box_square:hover{
	background:#c31e24;
}
@media only screen and (max-width: 767px){
	.square .red_box_prc .afor_red_box_square{
	    font-size: 18px !important;
	    line-height: 18px !important;
	    padding: 13px 20px 11px 20px !important;
	}	
}

@media only screen and (max-width: 991px){
	.square .red_box_prc .afor_red_box_square{
	    font-size: 20px !important;
	    line-height: 20px !important;
	    padding: 16px 30px 12px 30px !important;
	}
}

.square .learn_more{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.square .learn_more_in{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 20px;
    color: #fafafa;
    letter-spacing: 0.72px;
    position: relative;
    height: 100px;
}
@media only screen and (max-width: 767px){
	.square .learn_more_in{
	    font-size: 16px;
	    height: 80px;
	}
}

@media only screen and (max-width: 1024px){
		.square .learn_more_in{
	    font-size: 20px;
	    height: 90px;
	}
}

.square .learn_more .up_move{
	width:20px;
	height:20px;
    -webkit-animation: arrow-jump 2s infinite;
    animation: arrow-jump 2s infinite;
}
@keyframes arrow-jump{
	25%{transform:translateY(4px);}
	50%{transform:translateY(0px);}
	75%{transform:translateY(-4px);}
	100%{transform:translateY(0px);}
}
.onepage .hornin{
	enable-background:new 0 0 300 23.2;
	transform-origin: 50% 50% 0px;
}

.inp_none{
	float:right;
    width: 200px;
    height:50px;
    margin-top:6px;
    display: flex;
    position: relative;
	line-height: 100%;
	overflow: hidden;
}
.header .inp_none .big_jsn{
	position:absolute;
	top:50%;
	right:10px;
	width:20px;
	height:20px;
	margin-top:-10px;
	z-index: 999;
	transition:0.5s all ease;
}
.header .dis_none{
	display: block;
	width:0px;
	background:#fff;
	border-radius: 5px;
	height:50px;
	transition:0.1s all ease;
	transform:translateX(220px);
	opacity: 0;
	font-size:20px;
	padding-left:10px;
}

.onepage .titles{
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 140px 0 160px 0;
    border-bottom: 1px solid rgba(93,108,137,0.3);
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
    color: #555555;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.titles .titles_in_word{
	max-width: 830px;
    margin-bottom: 70px;
    font-weight: 500;
    font-size: 50px;
    color: #4c4d63;
    letter-spacing: 0.3px;
    line-height: 56px;
    text-align: center;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media only screen and (max-width: 767px){
	.titles .titles_in_word{
	    max-width: 600px !important;
	    padding: 0 20px !important;
	    margin-bottom: 20px !important;
	    font-size: 22px !important;
	    line-height: 26px !important;
	}
}

@media only screen and (max-width: 991px){
	.titles .titles_in_word{
	    max-width: 600px !important;
	    padding: 0 30px !important;
	    margin-bottom: 30px !important;
	    font-size: 30px !important;
	    line-height: 34px !important;
	}
}

@media only screen and (max-width: 1024px){
	.titles .titles_in_word{
	    max-width: 700px;
	    margin-bottom: 40px;
	    font-size: 38px;
	    line-height: 40px;
	}	
}
.titles .show{
    width: 100%;
    border-style: solid;
    border-color: #dfe7ed;
    border-width: 1px 0 1px 0;
    margin-bottom: 40px;
    background:#f7fafc;
	max-height:208px;
}
@media only screen and (max-width: 767px){
	.titles .show{
	    margin-bottom: 20px;
	}
}
.show .show_in{
	margin:0 auto;
	max-width:1290px;
}
.show .tab_left,.show .tab_right{
	float:left;
	font-size:50px;
	font-weight:bold;
	line-height:190px;
	display: none;
}
.show .show_in div{
	width:184px;
	padding-top:35px;
	float:left;
	transition: 0.1s all ease;
    background:#f7fafc;
}
.show .show_in div:hover{
	transform:scale(1.2,1.2);
	border:1px solid #61dafb;
	box-shadow: 0px 0px 5px #eee;
	position: relative;
}
.show .show_in div a{
	display: inline-block;
	width:100%;
	text-align: center;
}
.show .show_in div span{
	display: inline-block;
	width:100%;
	text-align: center;
	font-size:18px;
	margin:20px 0;
	font-weight:300;
	line-height:18px;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.titles .lessons{
	font-weight: 600;
    font-size: 18px;
    color: #47b8f0;
    letter-spacing: 0.57px;
    line-height: 26px;
    text-transform: uppercase;
    border-bottom: 1px solid #47b8f0;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.titles .lessons:hover{
	-webkit-transition: 150ms;
    transition: 150ms;
    color: #2e618d;
}
.video{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 110px 0;
}
.video .video_in{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1440px;
}
.video .video_in_left{
    -webkit-flex-basis: 60%;
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 70px 70px 70px 150px;
}
.video .video_in_box{
    width: 64px;
    height: 10px;
    background: #26242e;
    margin-bottom: 60px;
}
.video h3{
    font-weight: 700;
    font-size: 40px;
    color: #515057;
    letter-spacing: 0.76px;
    line-height: 62px;
    margin-bottom: 20px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.video .video_lesson{
	display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    border-style: solid;
    border-width: 1px 0 1px 0;
    border-color: #ebf1f5;
    margin-bottom: 60px;
    font-size: 16px;
    text-transform: uppercase;
    color: #8d9aa8;
    letter-spacing: 1.25px;
    padding: 6px;
}
.video .video_in .list{
    font-size: 18px;
    color: #515057;
    letter-spacing: 0.22px;
    padding: 0;
    margin: 0;
    list-style: none;
}
.video .video_in .list li{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.video .list .video_in_top{
	margin-top:55px;
}
.video .list li img{
	margin-right: 30px;
    width: 65px;
    height: auto;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    vertical-align: middle;
}
.video .list span{
    font-size: 18px;
    color: #515057;
    letter-spacing: 0.22px;
    padding: 0;
    margin: 0;
    list-style: none;
}
.video .video_in_right{
    -webkit-flex-basis: 40%;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    padding-top: 36px;
    border-radius: 6px 0 0 6px;
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px 0 1px 1px;
}
.video .video_in_right img{
	width: auto;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    vertical-align: middle;
}
.course{
	margin: 16px 0;
    background: #f7fafc;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.course .course_in{
    margin: -25px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1190px;
    padding: 0 10px;
}
.course .course_in_first{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: 50%;
    margin: 9px 0;
    padding: 0 10px;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}
.course .cfirst_con{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background: #ffffff;
    border: 1px solid #e1e9ee;
    box-shadow: 0 1px 2px 0 rgba(125,138,145,0.48);
}
.course .cfirst_con_left{
	padding: 25px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-right: 1px solid #dfe7ed;
}
.course img{
    width: 150px;
}
.course .cfirst_con_right{
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 30px 50px 30px 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden;
}
.cfirst_con_right{
	font-weight: 300;
    font-size: 24px;
    color: #393f47;
    letter-spacing: 0.37px;
    margin: 0;
}
.cfirst_con_right h3 a{
    font-weight: 300;
    font-size: 24px;
    color: #393f47;
    letter-spacing: 0.37px;
    margin: 0;
}
.cfirst_con .line{
	background: #dfe7ed;
    width: 100%;
    height: 1px;
    margin: 10px 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.cfirst_con .cfc_up{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.cfc_up_in{
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.cfc_up_in h4{
	font-weight: 400;
    font-size: 16px;
    color: #8d9aa8;
    letter-spacing: 1.25px;
    margin: 0;
}
.cfc_up_in .fsp{
	text-transform: uppercase;
}
.cfc_up_in h5{
	font-weight: 400;
    font-size: 16px;
    color: #8d9aa8;
    letter-spacing: 0.1px;
    line-height: 32px;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.cfc_up_in .ssp{
    font-weight: 400;
    font-size: 16px;
    color: #8d9aa8;
    letter-spacing: 0.1px;
    line-height: 32px;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.cfirst_con_right .cfc_up_in a{
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-flex-basis: 50px;
    -ms-flex-preferred-size: 50px;
    flex-basis: 50px;
    margin-left: 10px;
    border-radius: 50%;
    overflow: hidden;
}
.cfc_up img{
    width: 40px;
    vertical-align: middle;
}
.course_second{
    padding: 40px 20px 20px 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-basis: auto;
    width: 50%;
    margin: 9px 0;
}
.course_second div{
	padding: 40px 20px 20px 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.course_second div h2{
	font-weight: 700;
    font-size: 44px;
    color: #515057;
    letter-spacing: 0.62px;
    margin-bottom: 20px;
}
.course_second div a{
	font-weight: 600;
    font-size: 18px;
    color: #47b8f0;
    letter-spacing: 0.57px;
    line-height: 26px;
    display: inline-block;
    border-bottom: 1px solid #47b8f0;
    text-transform: uppercase;
}
.join{
	padding:160px 0;
}
.join_in{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.join_inner{
	text-align: center;
    margin-bottom: 40px;
}
.join_inner img{
	width: 153px;
}
.join_in h2{
	font-weight: 600;
    font-size: 60px;
    color: #393746;
    letter-spacing: 0.36px;
    line-height: 66px;
    text-align: center;
    margin-bottom: 90px;
}
.join_ul{
	margin-bottom: 120px;
    padding: 0;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}
.join_li1{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.join_li1 .join_img{
	-webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding: 0 50px 0 30px;
}
.join_img img{
	width:100%;
	vertical-align: middle;
    border: 0;
}
.join_holder{
	padding: 0 30px 0 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}
.join_holder h3{
    font-weight: 400;
    font-size: 30px;
    color: #515057;
    letter-spacing: 0.42px;
    margin-bottom: 20px;
}
.join_holder p{
	font-size: 20px;
    color: #515057;
    letter-spacing: 0.25px;
    line-height: 28px;
    margin: 0 0 10px;
}
.join_li2{
	margin-top:90px;
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.leader{
	background: #f7fafc;
    padding: 140px 0;
}
.leader_in{
	width: 100%;
    padding: 0 20px;
    max-width: 1154px;
    margin: 0 auto;
}
.leader_in h2{
    font-weight: 600;
    font-size: 60px;
    color: #393746;
    letter-spacing: 0.36px;
    line-height: 66px;
    text-align: center;
    margin-bottom: 25px;
}
.leader_in h3{
    opacity: 0.72;
    font-weight: 400;
    font-size: 24px;
    color: #515057;
    letter-spacing: 0.34px;
    text-align: center;
    margin-bottom: 50px;
}
.leader_holder{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-bottom: 40px;
}
/* .leader_holder_in{
	-webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right:15px;
} */
.leader_hin:first-child{
	margin-left:0 !important;
}
.leader_holder .leader_hin{
    -webkit-font-smoothing: antialiased;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin:0 15px;
}
@media only screen and (max-width: 767px){
	.leader_hin{
	    -webkit-flex-basis: auto;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	    width: 100%;
	    max-width: 450px;
	}
}
@media only screen and (max-width: 991px){
	.leader_hin{
	    -webkit-box-flex: 0;
	    -webkit-flex-grow: 0;
	    -ms-flex-positive: 0;
	    flex-grow: 0;
	    -webkit-flex-basis: 48%;
	    -ms-flex-preferred-size: 48%;
	    flex-basis: 48%;
	    margin: 25px 0 0 0;
	}
}
.leader_hin a{
	outline: none;
}
.leader_hin a img{
	width:100%;
}
.leader_world{
    width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #ffffff;
    padding: 20px 30px;
    box-shadow: 0 2px 4px 0 rgba(204,204,204,0.5);
}
.leader_world_box{
	padding-bottom: 5px;
    margin-bottom: 15px;
    position: relative;
}
.leader_world_box a h4{
	font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #393f47;
    letter-spacing: 0.48px;
    margin-bottom: 0;
}
.leader_about{
	font-size: 15px;
    line-height: 18px;
    color: #8d9aa8;
    letter-spacing: 0.4px;
}
.leader_hcon{
    background: #ebf1f5;
    box-shadow: 0 1px 2px 0 rgba(137,137,137,0.5);
    font-size: 14px;
    line-height: 16px;
    padding: 18px 10px;
    color: #8d9aa8;
    letter-spacing: 1.25px;
    text-align: center;
    text-transform: uppercase;
}
.leader_hcon span{
	opacity: 0.53;
}
.leader_in .more{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    background: rgba(255,255,255,0.5);
    box-shadow: 0 1px 1px 0 rgba(181,181,181,0.5);
    border-radius: 4px;
}
.more .more_in{
	-webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.more_in .more_inner{
    margin-left: 35px;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin: 0 17px;
}
.more_inner img{
	width: 100%;
    display: block;
    border-radius: 50%;
}
.more_in_right{
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-flex-basis: 215px;
    -ms-flex-preferred-size: 215px;
    flex-basis: 215px;
    border-left: 1px solid #bec7d4;
}
.more_right_in{
	font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    padding: 20px 10px;
    color: #545e6c;
    letter-spacing: 0.28px;
    text-align: center;
    background: #ebf1f5;
}
.more_right_in2{
    text-align: center;
    padding: 20px;
}
.more_right_in2 a{
    font-weight: 600;
    font-size: 20px;
    color: #50bbf0;
    letter-spacing: 0.64px;
    line-height: 23px;
    border-bottom: 2px solid #50bbf0;
    display: inline-block;
}
blockquote{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin:0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 110px 0;
    border: none;
    background: -webkit-gradient(radial, 69% 0%, 0px, 69% 0%, 100%, Colour-stop(25%, #4a445c), Colour-stop(70%, #25222b));
    background: -webkit-radial-gradient(69% 0%, ellipse cover, #4a445c 25%, #25222b 70%);
    background: -webkit-radial-gradient(69% 0% ellipse, #4a445c 25%, #25222b 70%);
    background: radial-gradient(ellipse at 69% 0%, #4a445c 25%,#25222b 70%);
}
.blockquote_in{
	width: 100%;
    max-width: 1170px;
    padding: 0 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.blockquote_text_holder{
	width: 100%;
    max-width: 1170px;
    padding: 0 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.blockquote_text{
	font-weight: 300;
    font-size: 35px;
    color: #f7fafc;
    letter-spacing: 0.92px;
    line-height: 47px;
    text-align: right;
}
.blockquote_caption{
	opacity: 0.6;
    font-weight: 700;
    font-size: 16px;
    color: #f7fafc;
    letter-spacing: 0.42px;
    text-align: right;
    padding-top: 15px;
    margin-top: 10px;
    position: relative;
}
.blockquote_ctaholder{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-flex-basis: 300px;
    -ms-flex-preferred-size: 300px;
    flex-basis: 300px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 0 20px 0 40px;
    border-left: 1px solid #ffffff;
    margin-left: 50px;
}
.blockquote_ctaholder a{
    font-size: 16px;
    color: #bec7d4;
    letter-spacing: 0.51px;
    line-height: 24px;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid #8a8f9d;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-transition: 150ms;
    transition: 150ms;
}
.dive{
	padding: 125px 0;
}
.dive_in{
    max-width: 950px;
    margin: 0 auto;
    padding: 0 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.dive_in h2{
    font-weight: 600;
    font-size: 60px;
    color: #393746;
    letter-spacing: 0.36px;
    line-height: 64px;
    text-align: center;
    margin-bottom: 20px;
}
.dive_in h4{
	font-weight: 400;
    font-size: 24px;
    color: #8d9aa8;
    letter-spacing: 0.34px;
    text-align: center;
    position: relative;
    margin-bottom: 45px;
}
.dive_holder{
    width: 100%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border-color: #bec7d4;
    background: #ebf1f5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border: 1px solid #e6e9ee;
    overflow: hidden;
    position: relative;
    min-height: 44px;
    cursor: pointer;
}
.dive_holinp{
	font-size: 28px;
    line-height: 34px;
    padding: 23px 40px;
    background: none;
    border-radius: 0;
    border: none;
    outline:medium;
    box-shadow: none;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    color: #8d9aa8;
    letter-spacing: 0.25px;
    width: 200px;
    -webkit-transition: width 150ms, padding 150ms;
    transition: width 150ms, padding 150ms;
}
.dive_submit{
	font-size: 35px;
    width: 80px;
    background: none;
    border: none;
    box-shadow: none;
    color: #bec7d4;
    padding: 0;
    display: block;
    text-align: center;
    transition: color 150ms;
    font-family: inherit;
    line-height: inherit;
    -webkit-appearance: button;
    cursor: pointer;
    text-transform: none;
    overflow: visible;
    font: inherit;
    margin: 0;
    position:relative;
    outline:medium;
}
.dive_serch{
	display: inline;
    width: 32px;
    height: 36px;
    line-height: normal;
    vertical-align: baseline;
    background: url(../img/big.png) no-repeat; 
    background-position: 0% 0%;
    position:absolute;
    top:50%;
    right:50%;
    margin-top:-18px;
    margin-right:-16px;
}
.dive_holder2{
	line-height: 34px;
    max-width: 950px;
    margin: 0 auto;
    padding: 0 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.dive_list2{
	line-height: 34px;
	max-width: 950px;
    margin: 0 auto;
    padding: 0 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.dive_list_in2{
    overflow-x: auto;
    min-height: 0.01%;
}
table{
	width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
}
tbody{
	display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
tr td img{
    width: auto;
    height: 32px;
    display: block;
    position: relative;
    vertical-align: top;
    border: none;
}
.dive_logo{
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    vertical-align: middle;
}
.dive_title{
	padding-top: 12px;
    padding-bottom: 12px;
    position: relative;
}
.dive_title_in{
    margin-bottom: 0;
    font-size: 22px;
}
.cate{
	padding-top: 12px;
    padding-bottom: 12px;
    position: relative;
    vertical-align: middle;
}
.cate .info_line{
    margin-bottom: 0px;
    line-height: 0;
    font-size: 0;
}
.floder{
	font-size: 14px;
    margin-left: 0;
    color: #898989;
    line-height: 1.3em;
    position: relative;
    padding-left:18px;
}
.info_line .dive_alt{
	position: absolute;
	top:2px;
	left:0;
	display: inline;
    width: 14px;
    height: 14px;
    line-height: normal;
    vertical-align: baseline;
    background-image: url(../img/txt.png);
    background-repeat: no-repeat;
    margin-top: 0;
}
.duration{
	position: relative;
	padding-top: 12px;
    padding-bottom: 12px;
    vertical-align: middle;
}
.cell{
	position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
}
.sit_foot{
	    background: -webkit-gradient(radial, 69% 50%, 0px, 69% 50%, 100%, Colour-stop(15%, #2d2d39), Colour-stop(70%, #1b1920));
    background: -webkit-radial-gradient(69% 50%, ellipse cover, #2d2d39 15%, #1b1920 70%);
    background: -webkit-radial-gradient(69% 50% ellipse, #2d2d39 15%, #1b1920 70%);
    background: radial-gradient(ellipse at 69% 50%, #2d2d39 15%,#1b1920 70%);
}
.foot_in{
	max-width: 1440px;
    padding: 60px 50px 55px 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
}
.sit_foot .foot_inner_list{
    list-style: none;
    padding: 0;
    margin: 0 0 25px 0;
}
.foot_inner_list li{
	display: list-item;
    text-align: -webkit-match-parent;
}
.foot_inner_list li a{
    font-size: 16px;
    color: #8d9aa8;
    line-height: 25px;
}
.egghead_copyright{
	font-size: 14px;
    color: #8d9aa8;
    line-height: 20px;
}
.egghead_terms a{
	font-size: 14px;
    color: #8d9aa8;
    line-height: 20px;
}
.search{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.search h3{
	font-weight: 600;
    font-size: 18px;
    color: #fcfcfc;
    letter-spacing: 0.25px;
    margin-bottom: 15px;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}
.search_holder{
	width: 100%;
    margin-bottom: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border: 1px solid #e6e9ee;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    min-height: 44px;
    cursor: pointer;
}
.search_holder input{
    border-radius: 0;
    border: none;
    box-shadow: none;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 18px;
    line-height: 20px;
    color: #8d9aa8;
    letter-spacing: 0.25px;
    padding: 10px 15px;
    background: white;
    width: 200px;
    -webkit-transition: width 150ms, padding 150ms;
    transition: width 150ms, padding 150ms;
}
.social{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}
.social .set{
	-webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.social a{
	margin-left: 0;
	color: gray;
    font-size: 30px;
}
.social a:last-child{
	margin-left:6px;
}
.social img{
	width:42px;
	height:30px;
}
















