@charset "utf-8";
/*--------------全局--start------------*/
body,div,p,ul,ol,li,dl,dt,dd,form,input,table,img,h1,h2,h3,h4,h5,h6,header,section,footer,nav,figure,figcaption,article{margin:0;padding:0}
header,section,footer,nav,figure,figcaption,article,menu{display:block}
body{font-size:12px;font-family:"微软雅黑";}
ul{list-style:none;}
a,a:hover{text-decoration:none;color:#393737;}
img{border:none;display:inline-block;vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:12px;font-weight:normal;}
em,i{font-style:normal;}
.l,.left{float:left;display:inline-block;}
.r,.right{float:right;display:inline-block;}
.clear:after{content:'';display:block;width:0;height:0;overflow:hidden;clear:both;}
header,nav,section,footer{min-width:320px;}
.w280{min-width:280px;margin:0 2%;}
.w300{min-width:300px;margin:0 3%;}
*,*:after,*:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;}

.clear{
  clear:both;
  overflow:hidden;
  width:0;
  height:0;
}
*{
  font-family: "微软雅黑";
  margin:0;
  padding: 0;
  list-style: none;
  font-family:Helvetica,"Microsoft YaHei", Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}
html{font-size:62.5%;}    
body{color:#999;font-weight: normal;}
html,body{
    user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -ms-box-flex:1;
    -o-box-flex:1;
    box-flex:1;
    height: 100%;
    width: 100%;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -moz-tap-highlight-color:rgba(0,0,0,0);
    -ms-tap-highlight-color:rgba(0,0,0,0);
    -o-tap-highlight-color:rgba(0,0,0,0);
    tap-highlight-color:rgba(0,0,0,0);
}
*,*:after,*:before{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;
}
/*--------------全局--end------------*/

